@page "/"
@using RestSharp;

<PageTitle>Categorias</PageTitle>

<h1>Categorias</h1>
@if (categories is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categories)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>
                        <button class="btn btn-info" @onclick="() => GetAsync(item.Id)">
                            EDIT
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

<div class="form-group">
    <label class="form-label" >Nome da Categoria</label>
    <input type="text" class="form-control" id="name" placeholder="Nome" @bind="categoryPost.Name">
</div>
<button @onclick="PostAsync" class="btn btn-primary">Enviar</button>

@code {
    private ResultViewModel<Category> resultViewModel;
    private List<CategoryViewModel> categories;
    private CategoryViewModel category;
    private CategoryViewModel categoryPost = new();

    protected override async Task OnInitializedAsync()
    {
        var client = new RestClient();
        var request = new RestRequest($"{Configuration.ApiUrl}/api/Category");
        var result = await client.GetAsync<List<CategoryViewModel>?>(request);

        if (result != null)
        {
            //            resultViewModel = result;
            categories = result;//.Data;
        }
    }
    private async Task PostAsync()
    {
        var client = new RestClient();
        var request = new RestRequest($"{Configuration.ApiUrl}/api/Category").AddJsonBody(categoryPost);
        var categoryCreate = await client.PostAsync<CategoryViewModel?>(request);

        if(categoryCreate is not null)
        {
            categories.Add(categoryCreate);
        }
    }

    private async Task GetAsync(Guid id)
    {
        var client = new RestClient();
        var request = new RestRequest($"{Configuration.ApiUrl}/api/Category{id}");
        var result = await client.GetAsync<CategoryViewModel?>(request);

        if (result != null)
        {
            //            resultViewModel = result;
            category = result;//.Data;
        }
    }
}