@page "/"
@using RestSharp;

<PageTitle>Categorias</PageTitle>

<h1>Categorias</h1>
@if (categories is null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in categories)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
@*                     <td>
                        <button class="btn btn-info" @onclick="() => GetAsync(item.Id)">
                            EDIT
                        </button>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
}

@code{
    private ResultViewModel<Category> resultViewModel;
    private List<Category> categories;

    protected override async Task OnInitializedAsync(){
        var client = new RestClient();
        var request = new RestRequest($"{Configuration.ApiUrl}/v1/Category");
        var result = await client.GetAsync<List<Category>?>(request);
    }
}
